- content_for(:page_header_text) do
  Products List
  .pull-right= link_to 'New Product', new_product_path, class: 'btn btn-success'

%table#products{data: {source: products_path(format: :json)}}
  %thead
    %tr
      %th Name
      %th Endeca ID
      %th Type
      %th Price Retail
  %tbody
